body {
    background-color: #fef4d1;
    margin: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    line-height: 150%;
    margin: 12px;
    flex: 1;
}

footer {
    background-color: #ffffffa0;
    padding: 1px;
}

h1,
h2 {
    color: #fa9700;
}

select,
button {
    padding: 4px;
    margin: 2px;
}

.ungueltig {
    border: solid;
    border-color: gray;
    background-color: #fff38b;
    padding: 2px 6px;
    margin: 4px;
    border-radius: 2px;
    width: fit-content;
}

.runden {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 10px;
}

.runde {
    white-space: nowrap;
}

.eingabe {
    border: 1px solid black;
    border-radius: 3px;
    margin: 0;
    padding: 2px 10px 2px 6px;
    display: inline-block;
}

.footer-element {
    margin: 10px;
}